<!DOCTYPE html>
<html lang="en" ng-app='Confluence'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="icon" href="../../favicon.ico">-->

  <title>Confluence 3.0 Dashboard</title>
  <!-- Bootstrap core CSS -->
  <link href="bootstrap.css" rel="stylesheet">
  <link href="dashboard.css" rel="stylesheet">
  <script src="jquery-1.10.2.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="dashboard.js"></script>
  <script src="jquery.flot.js"></script>
  <script src="jquery.flot.pie.js"></script>

</head>
<body>
  <div ng-controller="ZoneCtrl"  class='col-md-12 col-lg-12' style='margin:auto 0px;float:none'>

      <div id='slideshow'>
        <div  align='center' >
          <h3 class='ericsson-font'>Confluence 3.0 @ {{conf_location}}</h3>
          <img src='banner_2015.gif' /> 
        </div>

        <div  style='display:none' align='center'>
          <h3 class='ericsson-font'>Zonewise booth count</h3>
          <div id='stats' style='width:450px;height:450px;'> </div>
        </div>

        <div ng-repeat="zone in zones" class=" col-md-12 col-lg-12" style='min-height:700px;display:none' align='center'>
           <h3 class='ericsson-sfont {{zone.zone_class}}'>{{zone.zone_label}} Zone</h3>
           <div ng-repeat="(key, value) in zone.zone_types" class="item col-md-4 col-lg-4 " align='center'>
             <h4 class='ericsson-sfont {{zone.zone_class}}'>{{key}} Bays</h4>
             <table class='table table-striped {{zone.zone_class}}'>
               <tbody>
                 <tr>
                 <th width='15%'>Booth Number</th>
                 <th width='75%'>Title</th>
                 <th width='10%'>Trend</th></tr>
                 <tr ng-show="!value.length"><td colspan=3 style='text-align:center'>Voting not started for these Bays</td></tr>
                 <tr ng-repeat="row in value"><td class='talign-center'>{{row.booth_number}}</td><td>{{row.booth_title}}</td><td class='talign-center'><span class='glyphicon glyphicon-arrow-up {{row.trend_color}}'></span></td></tr>
               </tbody>
             </table>
           </div>
        </div>
      </div>

  </div>

</body>
<script type='text/javascript'>
$(document).ready(function(){
		$(function() {

			$("#slideshow > div:gt(0)").hide();

			setInterval(function() {
			  $('#slideshow > div:first')
			    .fadeOut(1000)
			    .next()
			    .fadeIn(1000)
			    .end()
			    .appendTo('#slideshow');
			},  10000);

		});
});
</script>

</html>

